<div>
<mat-card class="a">
  <mat-card-title>Sign-Up</mat-card-title>
    <mat-card-subtitle>Enter your Details</mat-card-subtitle>

        <mat-form-field appearance="legacy">
          <input matInput type="text" placeholder="Name" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy">
              <input matInput type="number" placeholder="Contact Number" min="10">
                </mat-form-field>
                <br>
                <mat-form-field appearance="legacy">
                  <input matInput type="text" placeholder="Country" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="legacy">
                      <input matInput type="email" placeholder="E-mail" required>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="legacy">
                          <input matInput type="password" placeholder="Password" required>
                            </mat-form-field>
                            <br>
          <button mat-raised-button-button>Save Details</button>
</mat-card>
<div>
